/*General*/

h1 {
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
  font-size: 60px;
  font-family:'Gill Sans MT', sans-serif;
  text-decoration-line:overline;
}

h3 {
  font-family: 'Gill Sans MT', sans-serif;
  background-color: #ffae4b52;
  color: #ff7700;
  padding: 10px;
  width: auto;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 20px;
  
}

header {
  background-color: #ffae4b;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

body{
  background-color: #fffec7;
}

/*Tablas*/
table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 4px;
  border: 2px solid #ffae4b;
}
  
table tr {
  text-align: center;
}

table th, table td {
  font-family: 'Gill Sans MT', sans-serif;
  width: auto;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

table th {
  background-color: #ffae4b;
  color: #fff;
  font-size: 20px;
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody a {
  font-family: 'Gill Sans MT', sans-serif;
  display: inline-block;
  padding: 5px 10px;
  width: 20%;
  background-color: #ff922b;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

tbody a:hover {
  background-color: #FFC682;
}
    
.texto{
  font-size: 20px;
  font-weight: 500;
}


/*Mensajes y botones (En los views)*/
div {
  max-width: 30%;
  background-color: #f2f2f2;
  margin: 20px auto;
  box-shadow: 2px 8px 16px rgba(3, 3, 3, 0.553);
  padding: 20px; 
}

#notificacion{
  font-family: 'Gill Sans MT', sans-serif;
  color: #ff761b;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
}

#notas{
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
  background-color: #ffa56593;
  color:#ff6a00;
  text-decoration: none;
}

#salir{
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
  color:#ff6a00;
  text-decoration:underline;
}

#menProm{
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
}

#perdio{
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
  background-color: rgba(255, 32, 32, 0.434);
  color: red;
}

#paso{
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
  background-color: rgba(56, 255, 56, 0.642);
  color: green;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #ff761b;
  font-family: 'Gill Sans MT', sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"],
input[type="number"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #ffc37a5a;
  color: #ff6a00;
  font-size: 20px; 
}

.registrar{
  font-family: 'Gill Sans MT', sans-serif;
  display: block;
  width: 25%;
  padding: 12px;
  margin: 20px auto;
  text-align: center;
  background-color: #ff922b;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
}

.registrar:hover {
  background-color: #fdb673;
}