.boton {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff922b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.boton:hover {
    background-color: #fdb673;
}